<?xml version='1.0' encoding='UTF-8'?>
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIconFile</key>
		<string>AppIcon</string>
		<key>CFBundleIconName</key>
		<string>AppIcon</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>0.1.2</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSMinimumSystemVersion</key>
		<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
		<key>NSHumanReadableCopyright</key>
		<string>© 2025 EasyPaste. All rights reserved.</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>NSAccessibilityUsageDescription</key>
		<string>EasyPaste 需要辅助功能权限来模拟键盘粘贴操作，将剪贴板内容粘贴到目标应用。</string>
	</dict>
</plist>